.card-show-preview{
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important;
}

.ad-preview-container{
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    border-radius: 4px;
    display: flex;
    font-size: 12px;
    flex-grow: 1;
    min-height: inherit;
    width: initial;
    padding: 5px;
  }
.ad-wrapper{
    overflow: hidden;
    display: flex;
    height: 140px;
    justify-content: center;
    align-items: center;
}
.ad-wrapper-content{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 12px;
    min-height: 62px;
    height: 140px;
    max-width: 280px;
    width: 280px;
}

.visible-url{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow-wrap: break-word;
    height: 20px;
}
.ad-badge{
    color: #202124;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow-wrap: break-word;
    font-size: 12px;
}
.visible-url-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow-wrap: break-word;
    font-size: 12px;
}

.headline, .description{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 4px 0;
    text-decoration: none;
}

.description{
    color: #3c4043;
}