<mat-accordion>
  <mat-expansion-panel #channelsExpansion id="placement-expansion" [expanded]="expanded" class="panel-builder-single" hideToggle>


    <mat-expansion-panel-header (click)="expandPanel($event)">
      <mat-icon class="expansion-toggle" *ngIf="channelsExpansion.expanded"
        (click)="$event.stopPropagation(togglePanel($event))">expand_less</mat-icon>
      <mat-icon class="expansion-toggle" *ngIf="!channelsExpansion.expanded"
        (click)="$event.stopPropagation(togglePanel($event))">expand_more</mat-icon>
      <mat-panel-title>
        Emplacement des annonces
      </mat-panel-title>
      <mat-panel-description>
        Sites web où seront diffusées vos annonces
      </mat-panel-description>
    </mat-expansion-panel-header>                   
  </mat-expansion-panel>
</mat-accordion>