<!-- 
<mat-card>
    <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions>
</mat-card> -->
<mat-card class="card-display-ads">
     <mat-card-header>
        <mat-card-title>
            <div class="d-flex w-100">
                <div>
                    Visuel(s) de la campagne

                </div>
                <div class="ml-auto">
                    
                    <button mat-mini-fab class="ml-auto mr-2" color="primary" (click)="dialogGalleryImages.show()"  matTooltip="Sélectionner depuis votre gallerie" [matTooltipShowDelay]="'1000'"
                               [matTooltipPosition]="'after'"><mat-icon>collections</mat-icon></button>
                    <button mat-mini-fab class="ml-auto" color="primary" (click)="toggleCropper()"  matTooltip="Redimensionner mes images" [matTooltipShowDelay]="'1000'"
                               [matTooltipPosition]="'after'"><mat-icon>crop</mat-icon></button>
                    
                </div>
            </div>

        </mat-card-title>
        <mat-card-subtitle>
            <div class="row">
                <div class="col-md-10">
                     Avant d'importer votre contenu, assurez-vous que vous disposez de tous les droits légaux nécessaires à sa diffusion et qu'elle respecte les bonnes dimensions.&nbsp;<button mat-icon-button class="ml-auto" [mdePopoverTriggerFor]="popoverAdsFormat"  mdePopoverTriggerOn="click"  matTooltip="Voir la liste des formats supportés" [matTooltipShowDelay]="'1000'"
                               [matTooltipPosition]="'after'"><mat-icon>help_outline</mat-icon></button>



         <mde-popover  #popoverAdsFormat="mdePopover" [mdePopoverOverlapTrigger]="true" [mdePopoverCloseOnClick]="false"  id="popoverAdsFormat">
           <mat-card style="max-width: 60rem;">
               <mat-card-content>
                   <img mat-card-img src="assets/images/adslist.png" class="img-fluid">
               </mat-card-content>
           </mat-card>
           
         </mde-popover>
                   
            </div>
        </div>
        </mat-card-subtitle>
    </mat-card-header>
  <mat-card-content>
      <div class="control-section ">
    <div class="row">
      <div class="col-md-12">
        <div class="control_wrapper">
            <div class='imagepreview'>
                <div id='dropArea' class="text-center" style='height: auto'>
                    <ejs-uploader #previewupload id='previewfileupload' [asyncSettings]='path'
                        [dropArea]='dropElement'  (success)='onUploadSuccess($event)' (progress)='onFileUpload($event)' (failure)='onUploadFailed($event)'  [allowedExtensions]='allowExtensions' (selected)='onSelect($event)'
                        (removing)='onFileRemove($event)' [maxFileSize]=150000>
                    </ejs-uploader>
                <ng-container *ngIf="filesDetails.length===0">
                    <p style="color: #bbb;">ou</p>
                    
                    <h6 style="color: #bbb;">Faire glisser des fichiers ici pour importer vos annonces</h6>
                </ng-container>
                
                
                    
                </div>
            </div>
        </div>
               <ng-container  *ngIf="selectedImagesFromGallery.length>0">

      <ng-container *ngIf="selectedImagesFromGallery.length===1">
         <div  class="alert alert-success mt-5">
            <div class="d-flex">
              <span style="font-size: 12px;">1 image sélectionnée depuis la gallerie (Cliquez sur enregistrer pour sauvegarder l'image).</span>
            </div>
        </div>
        
      </ng-container>
      <ng-container *ngIf="selectedImagesFromGallery.length>1">
        <div  class="alert alert-success mt-5">
            <div class="d-flex">
              <span style="font-size: 12px;">{{selectedImagesFromGallery.length}} images sélectonnées depuis la gallerie (Cliquez sur enregistrer pour sauvegarder les images)</span>
            </div>
        </div>
        
      </ng-container>
      

        </ng-container>
        <ng-container *ngIf="errorsUploadSize.length>0">
            <div class="row mb-3">
                <div class="col-md-12" style="flex-direction: column;">
                  <mat-card class="card-error">
                      <button mat-icon-button color="warn" class="close-err" (click)="errorsUploadSize=[]"><mat-icon>cancel</mat-icon></button>
                      <mat-card-content>
                   
                      <ng-container *ngFor="let error of errorsUploadSize" >
                        <ng-container >
                                 <ng-container *ngIf="error.invalid">
                             <div  class="alert alert-danger mt-5">
                                    <div class="d-flex">
                                     <span style="font-size: 12px;">{{error.name}} est invalid</span>

                                 </div>
                                    </div>
               
                        </ng-container>
                        <ng-container *ngIf="!error.invalid">
                                <div  class="alert alert-danger mt-5">
                                    <div class="d-flex">
                                    <span style="font-size: 12px;">{{error.name}} a une taille de {{uploadObj.bytesToSize(error.size)}}. Veuillez importer une annonce ne dépassant pas 150 KB.</span>

                                 </div>
                                    </div>
                         
                        </ng-container>
               
                        </ng-container>
                    </ng-container>
                      </mat-card-content>
                      
                  </mat-card>
                   
                    
                   

                </div>
            </div>
        </ng-container>


        <ng-container *ngIf="errorsUploadFormat.length>0">
            <div class="row">
                <div class="col-md-12" style="flex-direction: column;">
                  <mat-card class="card-error">
                      <button mat-icon-button color="warn" class="close-err" (click)="errorsUploadFormat=[]"><mat-icon>cancel</mat-icon></button>
                      
                      <mat-card-content>
                      <ng-container *ngFor="let error of errorsUploadFormat" >
                        <ng-container >
                             <div  class="alert alert-danger">
                                    <div class="d-flex">
                                        <span style="font-size: 10px;">L'image {{error.name}} de dimensions {{error.width}}x{{error.height}} est invalide</span>
                                        

                                 </div>
                                    </div>
               
                        </ng-container>
                    </ng-container>
                      </mat-card-content>
                      
                  </mat-card>
                   
                    
                    
                   

                </div>
            </div>
        </ng-container>
         
        
        
    </div>
    </div>
</div>
    
    </mat-card-content>
    


</mat-card>

<mat-card *ngIf="showCropper" class="mt-5" id="cropper">
    <button mat-icon-button color="warn" style="position: absolute; right: -12px; top: -17px" (click)="showCropper=false"><mat-icon>cancel</mat-icon></button>
    <mat-card-header class="text-left">
        <mat-card-title>Redimensionnez ici vos images</mat-card-title>
        <mat-card-subtitle>Une fois vos images redimensionnées vous devrez les télécharger une à une et les remontées dans la section&nbsp;<strong>Annonces</strong>&nbsp;ci-dessus</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
    <div class="row" >
        <div class="col-md-12 text-center">
           
                 <adf-image-compressor></adf-image-compressor>
    
        </div>
       </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color='accent' (click)="toggleCropper()">fermer</button>
    </mat-card-actions>
</mat-card>
 <ejs-dialog id='dialogResizeImages' #dialogResizeImages [visible]="visible" [target]="target" [position]='position'
     [isModal]='isModal' style="top: 3rem; max-width: 80%; height: auto;" showCloseIcon="true">
     <ng-template #content>
       <div class="dialog-content">
       <div class="row">
        <div class="col-md-12 text-center">
            <div clas="d-inline-block">
                 <adf-assets-cropper></adf-assets-cropper>
            </div>
        </div>
       </div>
         
       </div>
       <mat-divider></mat-divider>
       <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end">
         <button mat-button (click)="dialogResizeImages.hide()" color="primary">fermer</button>
       
       </div>

     </ng-template>
   </ejs-dialog>

       <ejs-dialog id='dialogGalleryImages' (open)='imageGalleryOpened($event)' #dialogGalleryImages [visible]="visible" [target]="target" [position]='position'
     [isModal]='isModal' style="top: 3rem; max-width: 80%; height: auto;" showCloseIcon="true" header='Sélectionnez depuis votre gallerie'>
     <ng-template #content>
       <div class="dialog-content">
       <div class="row" style="max-height: 500px; overflow: auto">
        <div class="col-md-12 text-center">
           
                 <adf-images-gallery [galleryFor]="'DISPLAY'"></adf-images-gallery>
            
        </div>
       </div>
         
       </div>
       <mat-divider></mat-divider>
       <div class="dialog-footer" fxLayout="row" fxLayoutAlign="end">
         <button mat-button (click)="dialogGalleryImages.hide()" color="primary" class="mr-2">fermer</button>
         <button mat-flat-button color="primary" (click)="saveDisplayFromGallery()">Enregistrer</button>
       
       </div>

     </ng-template>
   </ejs-dialog>

   <adf-snackbar></adf-snackbar>