<div class="row p-0" style="background: whitesmoke; height: 100vh;">
    <!-- <div class='col-sm-12 col-md-4 col-xl-5 p-0 d-none d-md-flex' style="height: 100%;">
      <div class="mainVerified">
        <div class="backgroundLeft">
          <div class="left-header-title">
            <span>Adafri.</span>
  
          </div>
          <div class="left-img" style="background-image: url(assets/images/Clip.png);"></div>
          <div class="left-side-title">
            <span>Ta publicité</span><br><span>sur tous le</span><span>s<br />sites
              web.</span><br><span></span><span></span>
          </div>
          <div class="copyright-content">
            <span>© Copyright 2020 Adafri. All rights reserved.</span>
          </div>
        </div>
      </div>
    </div> -->
    <div class='col-sm-12 col-md-12 col-xl-12 p-3 w-100' style="height: 100%">
      <div class="d-flex justify-content-center align-items-center flex-column pl-md-5 pr-md-5">
        <div class="login-action">
            <span style="font-family:ProductSans;color:rgba(251,10,119,1); cursor: pointer;" routerLink="/auth/login">Connexion</span>
        </div>
        <div class="row justify-content-start align-items-start w-100 mt-5">
          <div class="col-md-12">
            <div class="title-label">
                <div class="start-with-adafri success-color d-flex justify-content-start align-items-center">
                    <span>Email vérifiée avec succès. <mat-icon style="width: 36px; height: 36px; font-size: 36px;" class="success-color">check_circle_outline</mat-icon></span><br>
                </div>
            </div>
            <div class="row">
             
              <div class="col-md-12">
                <div class="connect-with-id-label">
                  <span>Commencez dès maintenant n'attendez plus.</span>
                </div>
              </div>
              <div class="col-md-12 p-0">
                <div class="credentials-form-group"
                  class="d-flex flex-wrap flex-column justify-content-start align-items-center">

                  <div class="row w-100 justify-content-start align-items-start">
                      <div class="col-md-12 col-sm-12">
                          <button mat-flat-button class="mat-elevation-z12" color="primary"
                          style="width: 50%; border-radius: 20px !important" routerLink="/auth/login">Se connecter</button>
                      </div>
                  </div>
              
                </div>
  
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  