.card-no-transactions{
    margin: 10rem auto;
    border-radius: 2px;
   /*  max-width: 500px;
    height: 300px; */
}

.container{
    padding-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}