.lang-picker-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .lang-picker-radio-button {
    margin: 5px;
  }


.lang-picker-btn{
    box-shadow: none !important;
}