a {
  color: #1a237e;
}

.google-ads-logo{
  width: 6rem;
  height: 2rem;
  
}

.mainSignIn {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.backgroundLeft {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
}


.left-img {

  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: visible;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}


.left-side-title {
  position: absolute;
  width: 331px;
  height: 70%;
  left: 10%;
  top: 90px;
  overflow: visible;
  width: 306px;
  white-space: nowrap;
  text-align: left;
  font-family: "Lato",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 42px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.25px;
  font-weight: 500;
}

.copyright-content {
  left: 10%;
  bottom: 1rem;
  overflow: visible;
  width: 161px;
  white-space: nowrap;
  line-height: 26.399999618530273px;
  margin-top: -6.199999809265137px;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  letter-spacing: -0.25px;
  font-family: "Lato",Helvetica Neue,Helvetica,Arial,sans-serif;
}

.left-header-title {
  position: absolute;
  z-index: 2;
  width: 97px;
  height: 37px;
  left: 10%;
  top: 5%;
  overflow: visible;
  white-space: nowrap;
  line-height: 36.33967208862305px;
  margin-top: -3.1698360443115234px;
  text-align: left;
  font-family: "Lato",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -0.5px;
}


.title-label {
  // height: 102px;
}

.start-with-adafri {
  left: 0px;
  top: 0px;
  overflow: visible;
  white-space: nowrap;
  line-height: 60px;
  margin-top: -12px;
  text-align: left;
  font-family: "Lato",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: rgba(17, 27, 96, 1);
  letter-spacing: -0.25px;
  font-weight: 500;
  margin-top: .5rem;
}


.connect-with-id-label {
  left: 0px;
  top: 22px;
  overflow: visible;
  white-space: nowrap;
  line-height: 28px;
  margin-top: -6px;
  text-align: left;
  // font-family: "Lato",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: rgba(114, 119, 143, 1);
  letter-spacing: -0.25px;
}


#line{
    fill: rgba(162, 166, 187, 1);
}
.line-separator {
    overflow: visible;
    width: 30px;
    height: 1px;
    left: 0px;
    top: 0px;
}

.credentials-form-group {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

mat-form-field {
  font-size: 13px;
  width: 100%;
}
.credentials-form-group {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

.login-action {
  white-space: nowrap;
  line-height: 21px;
  text-align: left;
  font-family: "Lato",Helvetica Neue,Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -0.25px;
  margin-left: auto;
  margin-top: 5%;

}




.middle-text{
  width: 100%;
    font-size: 0.875rem;
    text-align: center;
    color: rgb(132, 138, 150);
    margin-bottom: 1.5rem;
}

.login-link{
  font-size: 12px;
   cursor: pointer;
}
