
.card-budget-edit{
    display: flex;
    background-color: #fff;
    flex-direction: column;
    font-size: 13px;
    min-height: 80px;
    width: 200px;
    padding: 16px;
    pointer-events: auto;
    border-radius: 0px;
}

.spinner-budget{
    position: absolute;
    bottom: 1rem;
    left: 5rem;
}