
#bids-expansion .mat-expanded .mat-expansion-panel-header .mat-expansion-panel-header-title{
    max-width: 150px;
    padding-top: 1.2rem !important;
}
#bids-expansion .mat-expansion-panel-header .mat-expansion-panel-header-title{
    max-width: 150px;
    text-align: center;
    align-items: center;
    align-content: center;
}

.enc-text{
    color: #5f6368;
    font-size: 14px;
    line-height: 20px;
}

.warning-content{
    font-size: 13px;
    font-weight: 400;
    color: #424242;
    border-radius: 8px;
    padding: 16px 20px;
    background-color: #fef7e0;
    max-width: 400px;
}
.strategie-info{
    font-size: 13px;
    font-weight: 400;
    word-break: keep-all;
    box-sizing: border-box;
    border-left: 1px solid rgba(0,0,0,.12);
    color: rgba(0,0,0,.54);
    flex: 1 1 30%;
    line-height: 20px;
    padding-left: 16px;
    vertical-align: top;
}