
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 text-left pl-md-5">
                    <div class="c-1 pl-md-5">
                        Félicitations, votre campagne est prête
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-left pl-md-5">
                    <div class="c-2 pl-md-5">
                        Examinez le récapitulatif
                    </div>
                    <adf-cmp-display-recap [data]="data" style="margin: 20px;"></adf-cmp-display-recap>
                </div>
            </div>
        </div>
    </div>
