.c-item{
    display: flex;
    margin-bottom: 12px;
    font-size: 14px;
}

.c-sub-item{
    color: rgba(0,0,0,.87) !important;
    font: 400 13px/20px Roboto,Noto,sans-serif !important;
    letter-spacing: .01em !important;
    font-size: 12px !important;
}
.c-column{
    flex: 0 0 auto;
    flex-basis: 28%;
    margin: .3rem;
}

.f-col{
    flex-direction: column;
/*     text-align: left; */
}




.c-icon{
        color: #80868b;
    flex: 0 1 auto;
    margin-right: 16px;
}

.card-recap{
    border-radius: 0px;
     /* box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12) !important; */
}






