<mat-card class="mb-3 mt-3">
    <mat-card-content class="d-flex justify-content-start align-items-center w-100">
        <div class="d-flex flex-wrap align-items-center objective-container">
            <span style="flex: 1;">
                <span class="obj-type">
                    Type :&nbsp;<span class="obj-title">{{current_ad_channel!==null?current_ad_channel.primary.title:''}}</span>
                </span>
                <span class="obj-type">
                    Objectif :&nbsp;<span class="obj-title">{{current_objective!==null?current_objective.primary.title:''}}</span>
                </span>
            </span>
        </div>
    </mat-card-content>
</mat-card>