.objective-container{
    font-size: 15px;
    max-width: 1024px;
    min-width: 840px;
    width: 80%;
}

.obj-type{
    color: rgba(0,0,0,.54);
    min-width: 0;
    padding-right: 8px;
}

.obj-title{
    color: rgba(0,0,0,.87);
    overflow: hidden;
    padding-right: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
}