.customer-id{
    color: rgba(0,0,0,.54);
}

.delete-account-label{
    font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
    margin: 1rem 1rem 1rem 1rem;
}

.icon-accounts{
/*     margin-top: -5px;
    width: 18px;
    height: 18px;
    padding-right: 10px; */
}