.card-account-select{
    overflow-y: hidden;
    margin: 10rem auto;
    width: 300px;
    height: 400px;
    /* border-radius: 0px; */
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
    .mat-card-content{
        height: 273px;
        overflow-y: auto !important;
        overflow-x: hidden !important;
    }
}

.card-account-select-poppup{
    overflow: hidden;
    width: 300px;
    height: 400px;
    /* border-radius: 0px; */
    padding-left: 0;
    padding-right: 0;
    padding-top: 1rem;
     .mat-card-content{
        height: 273px;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        /* border: 1px solid #ccc; */
    }
}

.card-accounts-footer{
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 1rem;

}

.search-field{
  width: 50%;
  -webkit-transition: width .35s ease-in-out !important;
  transition: width .35s ease-in-out !important;
}
.mat-form-field:focus-within {
  width: 90% !important;
}

.list-account{
    max-height: 300px !important;
    overflow-x: auto;
    overflow-x: hidden;
}